<section class="card">

    <div class="form-heading">
        <h1>Log In</h1>
    </div>

    <div class="form-div">
        <form class="login__form">
            <div>
                <label for="username_login">Username</label>
                <input type="text" class="entry" id="username_login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry" id="password_login" />
            </div>
            <div>
                <button type="submit" class="login_signup_btn">Log In!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="signin_link">sign up instead</a>
</section>

<script src="/javascript/login.js"></script>