<section class="card">

    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>

    <div class="form-div">
        <form class="signup_form">
            <div>
                <label for="username_signup">Pick a Username</label>
                <input type="text" class="entry" id="username_signup" />
            </div>
            <div>
                <label for="password__signup">Pick a Password</label>
                <input type="password" class="entry" id="password_signup" />
            </div>
            <div>
                <button type="submit" class="login_signup_btn">Sign Up</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login_link">log in instead</a>
</section>

<script src="/javascript/signup.js"></script>